.gridContainer {
  display: grid;
  gap: 28px;
  padding: 28px;
  grid-template-columns: 1fr 1fr;
}

.gridItem {
  color: #000;
  min-height: 80px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.gridItem:hover {
  color: rgb(28, 138, 76);
  box-shadow: 1px 1px 20px rgba(66, 124, 91, 0.3);
}

.gridItem:first-child {
  grid-column: 1 / 3;
}

.gridItem .title {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 15px;
}

.gridItem .content {
  color: #555;
  font-weight: 500;
}
