# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask==1.1.1
gunicorn==19.7.1 #this gunicorn version is important because newer versions threw "transport endpoint not connected" errors after some days
numpy==1.19.2
opencv-python-headless==4.5.1.48 #this version of opencv is for servers/dockers that don't have the gui packages necessary for the normal package installes
pdoc3==0.9.2
requests==2.25.1
pytest-docker-compose==3.2.1
