.footer {
  height: 20px;
  text-align: center;
  font-size: 14px;
  padding: 25px;
  background-color: #eee;
}

.copyright {
  color: #555;
}

@media (min-width: 1441px) {
  .footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
