/* rsuite overrides */
* {
  box-sizing: content-box;
}

a:hover,
a:focus,
a:active {
  color: initial;
  text-decoration: initial;
}
/* --- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
